.register-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;

  width: 100%;
  height: 100vh;
}

.user-register {
  background: linear-gradient(180deg, #000000 0%, #333333 0.01%, #000000 100%);
  width: 100%;
  height: calc(100vh - 80px);
  &-title {
    font-size: 28px;
    line-height: 42px;
    text-align: center;
    color: rgba(229, 229, 229, 0.4);
    padding-top: 58px;
  }
  &-logo {
    padding-top: 181px;
    text-align: center;
  }
  &-username {
    text-align: center;
    padding-top: 58px;
  }
  &-password {
    text-align: center;
    padding-top: 24px;
  }
  &-btn {
    text-align: center;
  }
}

.register-form {
  width: 590px;
  height: 590px;
  padding: 68px 102px;
  box-shadow: 0px 4px 30px rgba(141, 147, 154, 0.05);
  border-radius: 24px;
  background: #fff;
  &.register-form {
    height: 736px;
    box-shadow: none;
    border-radius: unset;
  }
  .register-title {
    font-weight: 700;
    font-size: 36px;
    line-height: 44px;
    text-transform: capitalize;
    color: #303336;
    margin-bottom: 48px;
    text-align: center;
  }
  .user-name-group {
    display: flex;
    justify-content: space-between;
    .user-name {
      width: 265px;
    }
    .generate {
      width: 117px;
      margin-top: 30px;
      height: 50px;
      border-radius: 8px;
      background: #c4c7ca;
      border-radius: 8px;
      color: #fff;
      font-weight: 700;
      font-size: 14px;
      line-height: 22px;
      &.active {
        background: #074988;
        color: #fff;
      }
    }
  }

  .ant-form-item-label {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #131416;
  }
  .ant-input {
    height: 50px;
    border-radius: 8px;
  }
  .ant-input-password {
    border-radius: 8px;
    .ant-input {
      height: 42px;
    }
  }
  .register-group {
    margin-top: 24px;
    text-align: center;
    color: #5b6167;
  }
  .register-form-button {
    width: 100%;
    height: 60px;
    // background: #c4c7ca;
    border-radius: 8px;
    border-color: transparent;
    &.register-disabled {
      background: #c4c7ca;
      pointer-events: none;
    }
    &.register-normal {
      background: #074988;
    }
    &.register-button {
      margin-top: 24px;
    }
  }
  .register-form-forgot {
    color: #737a82;
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
  }
  .register-now {
    font-weight: 400;
    font-size: 14px;
    line-height: 22px;
    color: #303336;
    cursor: pointer;
    display: inline;
  }

  .ant-checkbox-checked .ant-checkbox-inner {
    background-color: #074988;
    border-color: #074988;
  }

  .remember-me-group {
    .ant-form-item-control-input-content {
      display: flex;
      justify-content: space-between;
    }
  }
}
