.side-tab {
  display: flex;
  justify-content: space-between;
  flex-direction: column;

  width: 210px;
  height: 100vh;

  background: #484c51;

  &__logo {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;

    padding-top: 10px;

    cursor: pointer;

    img {
      width: 50px;
      height: 50px;

      margin-right: 8px;
    }

    div {
      font-family: Arial, Helvetica, sans-serif;
      font-size: 30px;
      color: #ffffff;
      line-height: 20px;
    }
  }

  &__menu-list {
    margin-top: 80px;
  }

  &__menu-item {
    margin-bottom: 34px;

    cursor: pointer;

    &:hover {
      background: #ffffff;
    }
  }

  &__menu-item:hover &__menu-item-title {
    color: #484c51;
  }

  &__menu-item-title {
    display: flex;
    align-items: center;

    width: 100%;
    height: 50px;

    padding-left: 20px;

    font-weight: 700;
    font-size: 25px;
    line-height: 34px;
    color: #ffffff;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    height: 70px;

    margin: 18px 27px 40px;
  }
}
